@font-face {
    font-family: latoBold;
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: latoBlack;
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: latoLight;
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: latoRegular;
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
    overflow-x: hidden;
}

.font-color-peach {
    color: #eb5055;
}

.font-color-black {
    color: #666d89;
}

.font-color-purple {
    color: #606681;
}

.background-peach {
    background: #eb5055;
    border-bottom: 5px solid #ea676b;
}

.background-black {
    background: #303441 !important;
}

.background-white {
    background: #f2f2f2;
    border-bottom: 5px solid #ffffff;
}

.color-white {
    color: #f0d8d9;
}

.main-heading {
    font-family: latoBlack;
    font-size: 30px;
    margin-top: 14px;
}

.main-content {
    font-family: latoLight;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 41px;
}

.sub-heading {
    font-family: latoBlack;
    font-size: 18px;
    color: #666d89;
}

.paragraphs {
    font-family: latoRegular;
    font-size: 12px;
    color: #8b8faa;
}

.navBar {
    border-bottom: 5px solid #373b4a;
    font-family: latoBold;
}

.navbar-separator {
    padding-top: 5px;
    color: #494e62 !important;
    font-size: 20px;
}

.navbar-items {
    font-size: 12px;
}

.nav-link:hover {
    color: #eb5055 !important;
}

.navbar-brand {
    font-size: 25px;
}

.home {
    padding-top: 78px;
    padding-bottom: 95px;
}

.card {
    border: none;
    background: #f2f2f2;
}

.portfolio {
    border-bottom: 5px solid #373b4a;
}

.portfolio-main-content {
    font-family: latoLight;
    font-size: 18px;
}

.portfolio-buttons:hover {
    border: 1px solid white;
    background: #303441;
}

.about-icons {
    padding-bottom: 20px;
}

.form-control {
    background: #ca4549;
    border: none;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #df686c;
    font-family: latoRegular;
    font-size: 12px;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #df686c;
    font-family: latoRegular;
    font-size: 12px;
}

.form-control :-ms-input-placeholder {
    /* IE 10+ */
    color: #df686c;
    font-family: latoRegular;
    font-size: 12px;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #df686c;
    font-family: latoRegular;
    font-size: 12px;
}

.footer-content {
    font-family: latoRegular;
    font-size: 12px;
    border: none;
}


/* 


Media Querries


*/

@media screen and (max-width: 767px) {
    .home {
        Padding-top: 20px;
        padding-bottom: 30px;
    }
    .previous-arrow,
    .next-arrow {
        width: 10px;
    }
    .vertical-phone {
        width: 80px;
    }
    .horizontal-phone {
        width: 160px;
    }
    .service-items {
        margin: 25px;
        width: 100%;
    }
    .portfolio-buttons {
        width: 100%;
        margin-bottom: 12px;
        margin-left: 5px;
    }
    .footer {
        width: 100%;
        padding-left: 21%;
        margin-bottom: 0;
    }
    .footer-icons {
        padding-left: 25%;
        padding-bottom: 8%;
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .home {
        Padding-top: 43px;
        padding-bottom: 50px;
    }
    .vertical-phone {
        width: 155px;
    }
    .horizontal-phone {
        width: 310px;
    }
    .service-items {
        margin: 2px;
        width: 46%;
    }
}